{% extends "partials/layout.html.twig" %}

{% block content %}
	<div class="container">
		Información del proyecto - Esta es la pagina de inicio
		<div>
			<canvas id="acquisitions"></canvas>
		</div>
		<div>
			<canvas id="tabla"></canvas>
		</div>
	</div>

	<div class="d-none" id="datos">
		{{ datos}}
	</div>
{% endblock %}
