{% extends "partials/layout.html.twig" %}

{% block content %}
	{# <!-- Proyecto 2020-21 -->
		<div class="container">
			<!-- Contexto -->
			<h1>De Donde Partimos</h1>
			<h2>Proyecto 2020-21</h2>
			<p class="text-start">La estación meteorológica fue un proyecto STEAM (Science, Technology, Engineering, Arts and Mathematics) desarrollado durante el curso 2020-2021, 
												en el que participaron distintos grupos de alumnado de Bachillerato y Formación Profesional, tanto de Grado Básico como de Grado Superior. 
												El objetivo principal del proyecto fue el diseño y la construcción de una estación meteorológica capaz de recoger 
												y enviar datos para su análisis y estudio en el contexto del cambio climático. 
												Los datos generados por la estación se transmitían, por un lado, a la Escuela de Caminos de Ciudad Real de la Universidad de Castilla-La Mancha 
												y, por otro, a un servidor propio del centro, desarrollado por el alumnado de 1.º de Desarrollo de Aplicaciones Multiplataforma, 
												donde se almacenaban y visualizaban los datos recibidos en tiempo real.
			</p>
			<!-- Fotos -->
		<!-- Carrusel -->
			<!-- Capturas de la Antigua Web-->
		</div> #}
	


	<!-- Proyecto 2025-26 -->
		<!-- Contexto -->
		<div class="container">
			<h1>Proyecto 2025-26</h1>
			<p class="text-start">Motivados por la novedosa FP Dual, se volvió a retomar un proyecto iniciado en la 2020-21 para actualizarlo y mejorarlo. El proyecto consiste en la construcción de una estación metereológica en el IES Gregorio Prieto (Valdepeñas, Ciudad Real). La estación recoge datos, como la cantidad de precipitación o el viento de cada día, y se envían a un servidor localizado en ese mismo centro. Para así construir una web donde mostrar los datos y revelar al mundo lo capacitados que estamos los alumnos de poder poner nuestro granito de arena en el maravilloso mundo del Internet.
			</p>
		</div>
		<!-- Mejoras -->
		<!-- Integrantes -->
		<!--  https://getbootstrap.esdocu.com/docs/5.1/examples/album/ -->
		<!-- Fotos -->
{% endblock %}
{% block javascripts %}
	<script src="/js/app.js" type="text/javascript"></script>
{% endblock %}