{% extends "partials/layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row align-items-center py-3">
			<div class="col-lg-8">
				<h4 class="display-6 fw-bold mb-2">Clima en las últimas 24h</h4>
			</div>
			<div class="col-lg-4 text-lg-end">
				<div class="p-3 d-inline-block">
					<div class="d-flex align-items-center">
						<div class="me-3 fs-2 text-success"><i class="bi bi-clock"></i></div>
						<div class="text-start">
							<div class="small fw-bold text-uppercase opacity-50">Última actualización</div>
							<div id="last-update" class="fw-bold">--:--</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row g-4 pb-3">
			<div class="col-12 col-md-6 col-lg">
				<div class="card bg-temp shadow-sm h-100">
					<i class="bi bi-thermometer-half"></i>
					<div class="value" id="current-temp">--°C</div>
					<div class="label">Temperatura</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg">
				<div class="card bg-hum shadow-sm h-100">
					<i class="bi bi-moisture"></i>
					<div class="value" id="current-humidity">--%</div>
					<div class="label">Humedad</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg">
				<div class="card bg-press shadow-sm h-100">
					<i class="bi bi-speedometer2"></i>
					<div class="value" id="current-pressure">-- hPa</div>
					<div class="label">Presión</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg">
				<div class="card bg-wind shadow-sm h-100">
					<i class="bi bi-wind"></i>
					<div class="value" id="current-wind">-- km/h</div>
					<div class="label">Viento</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg">
				<div class="card bg-rain shadow-sm h-100">
					<i class="bi bi-cloud-rain"></i>
					<div class="value" id="current-rain">-- mm</div>
					<div class="label">Lluvia</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-none" id="datos">
		{{ datos }}
	</div>
{% endblock %}
