<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Probando los datos que me llegan</h1>
    <p id="demo">Los datos: </p>
    <button onclick="getRequest()">Enviar</button>
    <script>
        function datosAleatorios() {
            let datoTemp = Math.floor(Math.random() * 20);
            let datoPres = Math.floor((Math.random() * 10000) + 1000);
            let datoHum = Math.floor((Math.random() * 60) + 2);
            let datoViento = Math.floor((Math.random() * 60) + 4);
            let datoLluvia = Math.floor((Math.random() * 20));
            return `http://localhost:8000/datos?temp=${datoTemp}&pres=${datoPres}&hum=${datoHum}&viento=${datoViento}&lluvia=${datoLluvia}`;
        }
        async function getRequest() {
            const link = datosAleatorios();
            let myObject = await fetch(link);
            let myText = await myObject.text();
            document.getElementById("demo").innerHTML = myText;
            console.log(myText);
        }
    </script>
</body>

</html>