{% extends "partials/layout.html.twig" %}
{% block content %}
    <div style="width: 70%; margin: 50px auto;">
        <h2>Temperatura</h2>
        
        <canvas id="temperatura"></canvas>
    </div>
    
{% endblock %}

{% block javascript %}

    <script id="datos" type="application/json">
        {{ datos|json_encode|raw }}
    </script>
    <script src="/js/app.js"></script>
	<script src="/js/temperatura.js"></script>

{% endblock %}